.form
  form method="POST" action='/'
    textarea#user_message name="message[user_message]" value="#{@message.user_message}" cols="60" rows="10" placeholder=("Input your message") autofocus="" required="" maxlength="2048" 

    .check
      label 
        input type="hidden" name="message[destroy_link]" value="#{@message.destroy_link = 0}" /
        input type="checkbox" name="message[destroy_link]" value="#{@message.destroy_link = 1}" /
        |   Destroy message after first visit link
      
    .check
      label 
        input type="hidden" name="message[destroy_hour]" value="#{@message.destroy_hour = 0}" /
        input type="checkbox" name="message[destroy_hour]" value="#{@message.destroy_hour = 1}" /
        |   Destroy after 1 hour
      
    - url = SecureRandom.hex(8)
    input type="hidden" name="message[route]" value="#{@message.route = url}" /
    - time_now = Time.now
    input type="hidden" name="message[create_time]" value="#{@message.create_time = time_now}" /

    input.sub type="submit" value=("Get url to your message") /
.github
  a href="https://github.com/lysenko-sergei-developer/self-destruction-messenger" title="project sources"
    img src="images/github.png" alt="github"/
