doctype html
html lang="en" 
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    meta charset="UTF-8" /
    link rel="stylesheet" href="style.css" /
    title Self Destruction Messenger
     
  body
    .wrapper
      .logo
        a href="/" 
          img src="/images/logo.png" alt="logo" title="to hompage"/
      section
        == yield
