.block
  p 
    | your message localhost:4567/message/#{@message.route}
  - if @message.destroy_link == 1
    .alert 
      p message are destroyed after visit
  - if @message.destroy_hour == 1
    .alert
      p message are destroyed after one hour expires