doctype html
html lang="en" 
  head
    title Self Destruction Messenger
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    meta charset="UTF-8" /
    link rel="stylesheet" href="../style.css" /

  body onbeforeunload = "submit_form"
    .block
      .not_found 
        img src="/images/not_found.png" alt="error 404" title="to hompage" /
        p No message, maybe the message has already been read, its storage time is up .... or its not initally!