doctype html
html lang="en" 
  head
    title Self Destruction Messenger
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    meta charset="UTF-8" /
    link rel="stylesheet" href="../style.css" /

  body onbeforeunload = "submit_form"
    .wrapper
      .logo
        a href="/" 
          img src="/images/logo.png" alt="logo" /
      section
        .block
           .message 
              p Message addressed to you
           textarea#user_message cols="60" rows="10" autofocus="" required="" readonly=""
            | #{@show_once.user_message}
