* {
	margin: 0;
	padding: 0;
}

body {
   
    font-family: Arial, sans-serif;
}

.wrapper {
}

.logo {
	width: 100%;
	height: 140px;

	background-color: #3131FB;
  border-bottom: 2px solid #575757;
}

.logo img {
  width: 150px;
  height: 150px;
}

.form {
	display: flex;
	align-items: center;
  flex-direction: column;

	padding-top: 40px;
}

.check {
  display: flex;
  align-items: flex-start;
  
  margin-top: 20px;
  padding-left: 40px;
}

.check input {
  margin-top: -1px;
  padding-left: 10px;
}

.check label:hover,
.check input:hover {
  cursor: pointer;
}

.sub {
  width: 160px;

  display: flex;
  
  margin: 20px auto 0 auto;
  padding-left: 8px;

  vertical-align: middle;
}

.block {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 80px;

  font-size: 24px;
}

.block a {
  color: #466DFC;
}

.alert {
  padding-top: 30px;
  font-size: 30px;
  color: #FA2222;
}

.block textarea {
  margin-top: 20px;
}

.not_found {
  width: 700px;
  text-align: center;
}

.github {
  margin-top: 100px;
  margin-left: 20px;
}